.home__container {
  text-align: -webkit-center;
  /* height: 100vh; */
}
.form-holder {
  width: 500px;
  align-items: center;
  /* margin-bottom: 100px; */
  /* border: solid black; */
}

.home__banner {
  height: 80px;
  width: 100%;
  background-color: red;
  position: relative;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (max-width: 650px) {
  .form-holder {
    width: 95vw;
    align-items: center;
    margin-bottom: 100px;
  }
  .logo {
    height: 100px;
    position: relative;
  }
}
